#Avatar {
    margin: 20px 0;
    border-radius: 50%;
    width: 20vh;
}
.t-2 {
    margin-bottom: 0;
}
.card {
    width: 80vw;
    height: 20vh;
}
.mensie {
    height: 16vw;
}
.row {
    margin-bottom: 10px;
}
.scrollable {
    overflow-x: scroll;
    flex-wrap: unset;
    padding-bottom: 10px;
}
.scrollable > * {
    width: auto;
}
.Scr {
    width: auto;
}
.SecScr {
    display: inline-block;
    position: relative;
}
.card {
    border-radius: 0.75rem;
}
.km {
    display: inline-block;
    width: auto;
}
.LR > .km:nth-child(even) {
    position: absolute;
    right: 0;
}
#stock-chart-example-2 {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 25px 1fr;
    grid-template-rows: 300px;
    grid-template-areas: "data-1-axis volume data-2-axis";
}
#stock-chart-example-2 > table.column {
    grid-area: volume;
}
#stock-chart-example-2 > .data-1-axis {
    grid-area: data-1-axis;
    writing-mode: tb-rl;
    transform: rotateZ(180deg);
}
.CHcervena {
    --color: #e88;
}
.CHzelena {
    --color: #8c8;
}
.charts-css.column:not(.reverse) tbody tr th {
    font-weight: normal;
    font-size: 9px;
    overflow-wrap: break-word;

}
.r-sub {
    bottom: 0;
    right: 0.5em;
}
.svg1 {
    width: Calc(80% / 10);
    display: inline-block;
}/*
.gas {
    display: inline-block;
    width: 9vw;
    position: absolute;
    bottom: 0;
    margin: 5px;
}*/
.sfg {
    margin-top: 10px;
}
.LR {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.zelena {
    background-color: #88cc88;
    color: white;
}
.nadpis {
    font-size: 6vw;
}
.pie {
    border-radius: 50%;
    background: conic-gradient(rgb(52,158,94) 0.0% 45.0%, rgb(42,131,77) 45.0% 65.0%, rgb(31,105,60) 65.00% 85.0%, rgb(22,79,44) 85.0% 95.0%, rgb(13,56,30) 95.0% 100.00%);
}